@keyframes fadeIn {
  from {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
}
@keyframes fadeOutPrev {
  from {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(100%, -50%);
    opacity: 0;
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeOutBottom {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes radioWave {
  from {
    height: 2em;
    width: 2em;
    opacity: 0.5;
  }
  to {
    height: 5em;
    width: 5em;
    opacity: 0;
  }
}

@keyframes hideSettings {
  from {
    top: 7vh;
  }
  to {
    top: 0;
  }
}
