@keyframes fadeIn {
  from {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
}
@keyframes fadeOutPrev {
  from {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(100%, -50%);
    opacity: 0;
  }
}

@keyframes fadeInBtn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeOutBtn {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
