@for $i from 1 to 6 {
  &.color#{$i} {
    background: color(color#{$i}Secondary);
    i {
      color: color(color#{$i}Primary);
    }
    form {
      color: color(color#{$i}Primary);
      .form-component {
        input[type="text"],
        input[type="number"] {
          border-bottom: 1px
            rgba(color(color#{$i}Primary), 0.5)
            solid !important;
          color: color(color#{$i}Primary);
          &::placeholder {
            color: color(color#{$i}Primary);
          }
        }
        .border-line {
          background: color(color#{$i}Primary);
          label input[type="radio"] {
            &:checked:before {
              background: color(color#{$i}Primary);
            }
          }
        }
        .radio-input-container {
          color: color(color#{$i}Primary);
          label input[type="radio"] {
            background: color(color#{$i}Contrast);
            &:hover {
              background: rgba(color(color#{$i}Contrast), 0.7);
            }
            &:checked:before,
            &:checked:after {
              background: color(color#{$i}Primary);
            }
          }
        }
        .date-input-container {
          input[type="date"] {
            color: color(color#{$i}Primary);
            &::-webkit-datetime-edit-text,
            &::-webkit-datetime-edit-month-field,
            &::-webkit-datetime-edit-day-field,
            &::-webkit-datetime-edit-year-field {
              color: color(color#{$i}Primary);
            }
            &::-webkit-datetime-edit-month-field:focus,
            &::-webkit-datetime-edit-day-field:focus,
            &::-webkit-datetime-edit-year-field:focus {
              background: rgba(color(color#{$i}Contrast), 0.15);
            }
            &::-webkit-calendar-picker-indicator {
              background: transparent;
            }
            &::-webkit-calendar-picker-indicator {
              color: rgba(color(color#{$i}Primary), 0.75);
            }
          }
        }
        .selection-input-contatiner .option {
          border: 2px rgba(color(color#{$i}Primary), 0.2) solid;
          &:hover {
            border: 2px color(color#{$i}Primary) solid;
          }
          &.selected {
            border: 2px color(color#{$i}Primary) solid;
            color: color(color#{$i}Secondary);
            &::after {
              background: color(color#{$i}Primary) !important;
            }
          }
        }
        .range-input-container {
          .range-slider {
            .indicator {
              border: 1px solid color(color#{$i}Contrast);
              span {
                color: color(color#{$i}Contrast);
              }
            }
            input {
              &::-webkit-slider-runnable-track,
              &::-webkit-slider-thumb {
                background: color(color#{$i}Contrast);
              }
            }
          }
        }
        .file-input-container {
          label {
            border: 1px color(color#{$i}Primary) solid;
            &::after {
              background: color(color#{$i}Primary);
            }
            &:hover {
              color: color(color#{$i}Secondary);
            }
          }
        }
        .custom-input-container {
          &:hover i {
            color: color(color#{$i}Contrast);
            @include mobile {
              color: color(color#{$i}Primary);
            }
          }
          i {
            &:hover ~ i {
              color: color(color#{$i}Primary);
            }
          }

          &.active {
            i {
              font-weight: 900;
            }
            i.selected ~ i {
              color: rgba(color(color#{$i}Primary), 0.5);
            }
          }
        }
      }
    }

    .form-summary h2 {
      color: color(color#{$i}Primary);
    }

    button {
      outline: none;
      color: color(color#{$i}Primary);
      background: transparent;
      border: 1px color(color#{$i}Primary) solid;
      &:hover {
        background: color(color#{$i}Primary);
        border: 1px color(color#{$i}Secondary) solid;
        color: color(color#{$i}Secondary);
      }
    }

    h1.logo-name {
      color: rgba(color(color#{$i}Primary), 0.75);
      @include mobile {
        color: color(color#{$i}Contrast);
      }
    }

    nav {
      background: color(color#{$i}Contrast);
      color: color(color#{$i}Secondary);
      .fa-chevron-down {
        color: color(color#{$i}Contrast);
      }
    }

    .progress-container {
      .progress-bar-outer {
        border: 1px color(color#{$i}Contrast) solid;
        .progress-bar-inner {
          background: color(color#{$i}Secondary);
        }
      }
      p {
        color: color(color#{$i}Secondary);
      }
    }

    #svg-wave path {
      transition: 0.4s;
      fill: color(color#{$i}Primary);
    }
  }

  @for $i from 2 to 4 {
    &.font#{$i} {
      form,
      .form-summary {
        width: 95% !important;
        p:not(.indicator),
        input[type="date"] {
          font-size: #{$i * 0.75}vw !important;
          @include tablet {
            font-size: #{$i * 1.5}vw !important;
          }
          @include mobile {
            font-size: #{$i * 0.6}em !important;
          }
          &.option {
            font-size: #{$i * 0.6}vw !important;
            @include tablet {
              font-size: #{$i * 0.5}em !important;
            }
            @include mobile {
              font-size: #{$i * 0.35}em !important;
            }
          }
        }
        i:not(.fa-upload),
        span {
          font-size: #{$i * 0.6}vw !important;
          @include tablet {
            font-size: #{$i * 1.5}vw !important;
          }
          @include mobile {
            font-size: #{$i * 0.4}em !important;
          }
          &.unit {
            font-size: #{$i * 0.35}em !important;
          }
        }
        button {
          font-size: #{$i * 7}px !important;
        }
        h2,
        input[type="text"],
        input[type="number"] {
          font-size: #{$i * 0.9}vw !important;
          @include tablet {
            font-size: #{$i * 1.6}vw !important;
          }
          @include mobile {
            font-size: #{$i * 0.6}em !important;
          }
        }
        h2 {
          padding-top: 3em;
          margin-bottom: 1em !important;
        }
        input[type="text"],
        input[type="number"] {
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        label {
          font-size: #{$i * 0.7}vw !important;
          z-index: 10;
          @include tablet {
            font-size: #{$i * 1.5}vw !important;
          }
          @include mobile {
            font-size: #{$i * 0.5}em !important;
          }
        }
        input[type="file"] {
          opacity: 0 !important;
        }
      }
    }
  }
}
