@import url("https://fonts.googleapis.com/css?family=Montserrat|Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

$colors: (
  color1Primary: #f25050,
  color1Secondary: #263972,
  color1Contrast: #e0e0e0,
  color2Primary: #66fcf1,
  color2Secondary: #1a1a1d,
  color2Contrast: #e0e0e0,
  color3Primary: #ff4757,
  color3Secondary: #7bed9f,
  color3Contrast: #2f3542,
  color4Primary: #b33771,
  color4Secondary: #f8efba,
  color4Contrast: #574b90,
  color5Primary: #ffe400,
  color5Secondary: #181e28,
  color5Contrast: #dfc2f2
);

$mobile: 650px;
$tablet: 1100px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
