nav {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 15vw;
  height: 7vh;
  transition: 0.3s;
  transition-delay: 0.15s;
  border-radius: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  @include tablet {
    width: 30%;
    height: 10vh;
  }
  @include mobile {
    width: 100%;
    height: 12vh;
    min-height: 12vw;
    animation: none;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -2em;
    left: 0;
    height: 2em;
    width: 100%;
    cursor: pointer;
    @include mobile {
      width: 20%;
      left: unset;
      right: 0;
    }
  }
  p {
    cursor: pointer;
  }
  .fa-chevron-down {
    position: absolute;
    left: 0.6em;
    bottom: -1.25em;
    font-size: 1.5em;
    animation: jello-diagonal-2 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 3 both
      1.5s;
    transition: 0.35s;
    @include tablet {
      right: 0.6em;
      left: unset;
    }
  }

  &:hover {
    transform: translateY(0%);
    .fa-chevron-down {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }

  .color-container {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    .color {
      transition: 0.3s ease-in-out;
      height: 15px;
      width: 15px;
      cursor: pointer;
    }
    @for $i from 1 to 6 {
      .color:nth-child(#{$i}) {
        background: color(color#{$i}Primary);
        border: color(color#{$i}Secondary) 1px solid;
        &:hover {
          background: color(color#{$i}Secondary);
          border: color(color#{$i}Primary) 1px solid;
        }
      }
    }
  }

  .font-container {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    p:nth-child(2) {
      font-size: 1.5em;
    }
    p:nth-child(3) {
      font-size: 1.8em;
    }
  }
}

.progress-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  z-index: 10;
  .progress-bar-outer {
    width: calc(100% - 2px);
    height: 12px;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 5px;
    .progress-bar-inner {
      height: 10px;
      transition: 0.35s;
    }
  }
  p {
    margin-right: 0.5em;
    font-weight: bold;
    @include mobile {
      margin-right: 1em;
    }
  }
}

#svg-wave {
  position: absolute;
  bottom: -2.5vh;
  width: 100%;
  left: 0%;
  z-index: 0;
  opacity: 0.65;
  pointer-events: none;
  overflow: visible;
  path.st0 {
    transform: translateX(-100%);
  }
  path.st2 {
    transform: translateX(100%);
  }
  &.prev {
    animation: translateLeft 0.4s ease both;
    @include mobile {
      animation: translateLeftMobile 0.4s ease both;
    }
  }
  &.next {
    animation: translateRight 0.4s ease both;
    @include mobile {
      animation: translateRightMobile 0.4s ease both;
    }
  }
  @include tablet {
    bottom: 0em;
  }
  @include mobile {
    width: 160%;
  }
}
