nav {
  position: absolute;
  right: 0;
  top: 7vh;
  transform: translateY(-100%);
  width: 15vw;
  height: 7vh;
  transition: 0.3s;
  transition-delay: 0.15s;
  border-radius: 0 0 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: hideSettings 0.3s forwards ease-in 2.5s;
  &::after {
    position: absolute;
    content: "";
    bottom: -2em;
    left: 0;
    height: 2em;
    width: 100%;
    cursor: pointer;
  }
  .fa-chevron-down {
    position: absolute;
    left: 0.6em;
    bottom: -1em;
    font-size: 1.5em;
    transition: 0.35s;
  }

  &:hover {
    transform: translateY(0%);
    .fa-chevron-down {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }

  .color-container {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    .color {
      transition: 0.3s ease-in-out;
      height: 15px;
      width: 15px;
      cursor: pointer;
    }
    @for $i from 1 to 6 {
      .color:nth-child(#{$i}) {
        background: color(color#{$i}Primary);
        border: color(color#{$i}Secondary) 1px solid;
        &:hover {
          background: color(color#{$i}Secondary);
          border: color(color#{$i}Primary) 1px solid;
        }
      }
    }
  }

  .font-container {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    p:nth-child(2) {
      font-size: 1.5em;
    }
    p:nth-child(3) {
      font-size: 1.8em;
    }
  }
}

.progress-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  .progress-bar-outer {
    width: calc(100% - 2px);
    height: 12px;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 5px;
    .progress-bar-inner {
      height: 10px;
      transition: 0.35s;
    }
  }
  p {
    margin-right: 0.5em;
  }
}
